{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
{% block login_more %}
    <div class="login-more register">
        <div class="already-registered-link float-left">
            <a href="/login">Already registered ?</a>
        </div>
    </div>
{% endblock %}