{% block head %}
    <link href="{{ asset('fosuser/css/login.css') }}" rel="stylesheet" />
    <title>{% block title %}Login{% endblock %} - Palatine Anthology</title>
{% endblock %}

<div class="login-container">
    <div class="login-wrapper">
        {% block content %}
            {% block fos_user_content %}{% endblock %}
        {% endblock %}
        {% block login_more %}
            <div class="login-more login">
                <div class="register-link float-left">
                    <a href="/register">Register</a>
                </div>
                <div class="forgot-link float-right">
                    <a href="/resetting/request">Forgot password ?</a>
                </div>
            </div>
        {% endblock %}
    </div>
</div>