body {
    background: #e6e6e6;
    font-family: 'Source Sans Pro', sans-serif;
    color: #366870;
    overflow-x: hidden;
}

.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #366870;
    margin: 0 -15px;
    background: #fff;
}

.app-header .navbar-header {
    padding-left: 50px;
}

.app-header .navbar-header .navbar-brand {
    color: #366870;
    font-weight: 700;
    transition: .2s all linear;
    font-size: 28px;
}

.app-header .navbar-header .navbar-brand:hover,
.app-header .navbar-header .navbar-brand:focus {
     text-decoration: none;
     opacity: .8;
}

.app-header .navbar-right{
    width: 50%;
}

.app-header ul {
    padding: 0;
}

.app-header li {
    margin: 0 10px;
}

.app-header li a {
    font-size: 22px;
    color: #000;
    border-bottom: 2px solid transparent;
    transition: .2s all linear;
    margin: 0;
}

.app-header li a:hover,
.app-header li a:focus {
     text-decoration: none;
     border-bottom: 2px solid #366870;
     color: #000;
}

.title-container,
.link-container,
.desc-container{
    margin: 5% 0;
}

.title-container h1 {
    font-weight: bold;
    padding: 0 2%;
    font-size: 72px;
}

.link-container a {
    display: inline-block;
    background: #366870;
    color: #e6e6e6;
    font-weight: bold;
    padding: 21px 0;
    border: 3px solid #366870;
    transition: .2s all linear;
    text-align: center;
    font-size: 20px;
    width: 286px;
    margin: 0;
}

.link-container a:hover,
.link-container a:focus {
     text-decoration: none;
     background: #e6e6e6;
     color: #366870;
}

.desc-container p {
    padding: 0 15%;
    color: #000;
    line-height: 1.5em;
    font-size: 26px;
    text-align: center;
    opacity: 0.7;
}

.app-footer {
    border-top: 1px solid #366870;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.app-footer > .row:first-child {
     padding-top: 30px;
}

.app-footer .navbar-header {
    padding-left: 50px;
}

.app-footer .navbar-header .navbar-brand {
    color: #366870;
    font-weight: 700;
    transition: .2s all linear;
    font-size: 28px;
}

.app-footer .navbar-header .navbar-brand:hover,
.app-footer .navbar-header .navbar-brand:focus{
     text-decoration: none;
     opacity: .8;
}

.app-footer ul li a {
    opacity: 0.5;
    font-size: 24px;
    color: #000;
    transition: .2s all linear;
}

.app-footer ul li a:hover,
.app-footer ul li a:focus {
    opacity: 1;
    color: #366870;
    text-decoration: none;
    background: none;
}

.app-footer .copyright p {
    color: rgba(0, 0, 0, .5);
    font-size: 14px;
    margin: 0;
}