{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Reset password{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_content %}
{% block login_more %}
    <div class="login-more forgot">
        <div class="login-link float-left">
            <a href="/login">Login</a>
        </div>
    </div>
{% endblock %}
