{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Edit profile{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}
{% block login_more %}
    <div class="login-more profile-edit">
        <div class="profile-link float-left">
            <a href="/profile">Go back to your profile</a>
        </div>
    </div>
{% endblock %}
