<!DOCTYPE html>
<html>
    <head>

        <!-- meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Palatine Anthology</title>

        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ asset('home/css/style.css') }}">

        <!-- Source Sans Pro -->
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <div class="app-header">
            <div class="row">
                <nav class="navbar">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">Palatine Anthology</a>
                        </div>
                        <div class="nav navbar-nav navbar-right">
                            <ul class="list-inline col-xs-9 col-md-10 text-right">
                                <li><a href="/">Home</a></li>
                                <li><a href="/api/doc/live">Guide</a></li>
                                <li><a href="#">Back Office</a></li>
                                <li><a href="http://anthologie.valentin-crochemore.fr" target="_blank">Example</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="home">
            <div class="title-container text-center row">
                <h1>palatine anthology</h1>
            </div>
            <div class="row desc-container">
                <p>Welcome on the Palatine Anthology API !<p>
                <p>It is made for developers who would like to get different kind of informations about greek poetry such as translations in different languages or who are the main characters of some poems. It is free to be used by anyone.</p>
                <p>Enjoy !</p>
            </div>
            <div class="row link-container">
                <ul class="list-inline">
                    <li class="col-md-4 text-right"><a href="http://anthologie.valentin-crochemore.fr">Example</a></li>
                    <li class="col-md-4 text-center"><a href="#">Back Office</a></li>
                    <li class="col-xs-12 col-md-4 text-left"><a href="/api/doc/live">Get started</a></li>
                </ul>
            </div>
        </div>
        <div class="app-footer">
            <div class="row">
                <nav class="navbar">
                    <div class="container-fluid">
                        <div class="navbar-header col-md-3">
                            <a class="navbar-brand" href="/">Palatine Anthology</a>
                        </div>
                        <ul class="nav navbar-nav list-inline">
                            <li><a href="/">Home</a></li>
                            <li><a href="/api/doc/live">Guide</a></li>
                            <li><a href="#">Back Office</a></li>
                            <li><a href="http://anthologie.valentin-crochemore.fr">Example</a></li>
                        </ul>
                        <div class="col-md-3 copyright pull-right">
                            <p>Created by HETIC students</p>
                            <p>&copy; Montréal University - 2016</p>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>
